# Environment variables
.env
.env.*

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules/

# Coverage directory
coverage/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Build output
dist/
build/

# Firebase config
firebase-adminsdk.json
serviceAccountKey.json